
/* universal rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans',
        sans-serif;
}

/* styles within body starts from here */
body {
    width: 100%;
    min-height: 100vh;
    background-color: #FFFFFF;
}

/* banner section styles */
header[role="banner"] {
    background-image: url("../assets/banner-images/banner3.png");
    background-position: center;
    background-size: cover;
    height: 808px;
    color: #FFFFFF;
    display: flex;
    justify-content: right;
}

.banner-contact {
    padding-top: 216px;
    width: 808px;
    text-align: right;
}

.header-title {
    width: 600px;
    font-size: 65px;
    font-weight: 700;
}

.header-subtitle {
    width: 600px;
    margin: 24px 0 32px;
    padding-left: 111px;
    line-height: 26px;
}

.contact-btn {
    width: 600px;
}

.contact-btn button {
    padding: 21px 25px;
    font-size: 20px;
    font-weight: 600;
    color: #005FAC;
    cursor: pointer;
}

/* failure section of main container styles */
main .failure-article-container {
    margin-top: 131px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 133px;
}

.failure-article-container figure img {
    width: 569px;
    height: 723px;
    margin-left: -333px;
}

.failure-article-container .failure {
    padding-top: 55px;
    width: 415px;
}

.failure-title {
    font-size: 40px;
    font-weight: 700px;
    line-height: 45px;
    color: #151414;
    margin-bottom: 25px;
}

.failure-subtitle {
    width: 410px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 16px;
}

.failure-list .failure-item {
    margin-bottom: 10px;
    line-height: 26px;
    list-style-type: none;
    color: #444343;
}

.failure-list span {
    margin-right: 10px;
    color: green;
}